<p>Bonjour à toi admin Clap for Life, un utilisateur nous écrit :</p><br>

<p>Sender : <%= @user.first_name %> <%= @user.last_name %></p>
<p>Subject : <%= @email_subject %></p><br>

<p>====================</p>
<p><%= @email_content %></p>
<p>====================</p>
