<p>Bonjour <%= @user.username %>,</p><br>
<p>Nous vous confirmons votre désinscription de la mission <%= @mission.title %> organisée par <%= @organisation.name %>.</p><br>
<p>====================</p>
<p>Résumé de la mission : <%= @mission.description %></p>
<p>Bonne journée,</p>
<p>L'équipe <strong style="color:#d24d57; font-style:italic; font-size: 1.2rem">Clap for Life</strong></p>
