<section class="d-flex dark-overlay bg-cover pt-4" style="background-image: url(https://images.unsplash.com/photo-1484264121943-78dd345bd494?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80); height: 300px;">
  <div class="container py-6 text-white overlay-content text-center">
    <h1 class="hero-heading">Pourquoi Clap for Life ?</h1>
  </div>
</section>
<section class="py-6">
  <div class="container">
    <div class="row">
      <div class="col-xl-8 col-lg-10 mx-auto">                               
        <div class="text-content">
          <h3>Notre vision</h3>
          <h5>... le rêve d'un monde plus juste</h5>
          <blockquote class="blockquote blockquote-primary bg-gray-100 p-5">Guerres, maladies, cataclysmes, pauvreté... Le monde n'a jamais été aussi polarisé entre ceux qui ont tout et ceux qui n'ont rien.<br>
          <br>Notre vision, c'est un monde où les premiers consacrent une partie de leur energie et de leurs moyens au service des seconds.</blockquote>
          <h3>Notre mission</h3>
          <h5>... aider les associations à grandir</h5>
          <blockquote class="blockquote blockquote-primary bg-gray-100 p-5">Pour mieux vivre ensemble, nous devons partager davantage, et c'est précisémment le cercle vertueux que nous cherchons à mettre en place.<br>
          <br>En rendant les associations plus visibles et accessibles, notre ambition est de permettre à chacun de s'engager à son échelle.<br>
          <br>Et c'est bien connu, ce sont les petits ruisseaux qui font les grandes rivières !</blockquote>
        </div>
      </div>
    </div>
  </div>
</section>