<div class="container">
  <h1>A remplir avec les informations concernant les contacts</h1>
  <h2>Template trouvable sous views/home/contact</h2>
  <ul>
    <li>info 1</li>
    <li>info 2</li>
    <li>info 3</li>
    <li>info 4</li>
    <li>info 5</li>

  </ul>
</div>