<%#Accueil%>
<section class="d-flex align-items-center dark-overlay bg-cover" style="background-image: url(https://images.unsplash.com/photo-1461532257246-777de18cd58b?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1055&q=80);">
  <div class="container py-6 py-lg-7 text-white overlay-content text-center">
    <div class="row">
      <div class="col-xl-10 mx-auto">
        <h1 class="display-3 font-weight-bold text-shadow" style="font-family: 'Sansita Swashed', cursive; font-size: 5rem">Clap for Life</h1>
        <p class="text-lg text-shadow">La plateforme qui relie les associations à des bénévoles ponctuels</p>
      </div>
    </div>
  </div>
</section>
<div class="container">
  <div class="search-bar rounded p-3 p-lg-4 position-relative mt-n5 z-index-20">
    <form action="#">
      <div class="row">
        <div class="col-lg-4 d-flex align-items-center form-group">
          <input class="form-control border-0 shadow-0" type="search" name="search" placeholder="Recherche une association">
        </div>
        <div class="col-md-6 col-lg-3 d-flex align-items-center form-group">
          <div class="input-label-absolute input-label-absolute-right w-100">
            <label class="label-absolute" for="location"><i class="fa fa-crosshairs"></i>
              <div class="sr-only">City</div>
            </label>
            <input class="form-control border-0 shadow-0" type="text" name="location" placeholder="Ville" id="location">
          </div>
        </div>
        <div class="col-md-6 col-lg-3 d-flex align-items-center form-group no-divider">
          <select class="selectpicker" title="Categories" data-style="btn-form-control">
            <option value="small">Restaurants</option>
            <option value="medium">Hotels</option>
            <option value="large">Cafes</option>
            <option value="x-large">Garages</option>
          </select>
        </div>
        <div class="col-lg-2 form-group mb-0">
          <button class="btn btn-primary btn-block h-100" type="submit">Recherche </button>
        </div>
      </div>
    </form>
  </div>
</div>
<br><br>

<%# Home - Theme sample %>
<section>
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-8">
        <h2>Thèmes associatifs</h2>
      </div>
      <div class="col-md-4 d-md-flex align-items-center justify-content-end"><a class="text-muted text-sm" href="category.html">
            Voir tous les thèmes<i class="fas fa-angle-double-right ml-2"></i></a></div>
    </div>
    <div class="row">
      <div class="d-flex align-items-lg-stretch mb-4 col-lg-8">
        <div class="card shadow-lg border-0 w-100 border-0 hover-animate" style="background: center center url(https://images.unsplash.com/photo-1501633159663-1836f82ceaf0?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80) no-repeat; background-size: cover;"><a class="tile-link" href="category.html"> </a>
          <div class="d-flex align-items-center h-100 text-white justify-content-center py-6 py-lg-7">
            <h3 class="text-shadow text-uppercase mb-0">Droit des femmes</h3>
          </div>
        </div>
      </div>
      <div class="d-flex align-items-lg-stretch mb-4 col-lg-4">
        <div class="card shadow-lg border-0 w-100 border-0 hover-animate" style="background: center center url(https://images.unsplash.com/photo-1499257398700-43669759a540?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80) no-repeat; background-size: cover;"><a class="tile-link" href="category.html"> </a>
          <div class="d-flex align-items-center h-100 text-white justify-content-center py-6 py-lg-7">
            <h3 class="text-shadow text-uppercase mb-0">Clubs de lecture</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="d-flex align-items-lg-stretch mb-4 col-lg-4">
        <div class="card shadow-lg border-0 w-100 border-0 hover-animate" style="background: center center url(https://images.unsplash.com/photo-1603651481343-0f71466bb14a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80) no-repeat; background-size: cover;"><a class="tile-link" href="category.html"> </a>
          <div class="d-flex align-items-center h-100 text-white justify-content-center py-6 py-lg-7">
            <h3 class="text-shadow text-uppercase mb-0">Patrimoine</h3>
          </div>
        </div>
      </div>
      <div class="d-flex align-items-lg-stretch mb-4 col-lg-4">
        <div class="card shadow-lg border-0 w-100 border-0 hover-animate" style="background: center center url(https://images.unsplash.com/photo-1520277739336-7bf67edfa768?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1189&q=80) no-repeat; background-size: cover;"><a class="tile-link" href="category.html"> </a>
          <div class="d-flex align-items-center h-100 text-white justify-content-center py-6 py-lg-7">
            <h3 class="text-shadow text-uppercase mb-0">Foyers</h3>
          </div>
        </div>
      </div>
      <div class="d-flex align-items-lg-stretch mb-4 col-lg-4">
        <div class="card shadow-lg border-0 w-100 border-0 hover-animate" style="background: center center url(https://images.unsplash.com/photo-1527490087278-9c75be0b8052?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1047&q=80) no-repeat; background-size: cover;"><a class="tile-link" href="category.html"> </a>
          <div class="d-flex align-items-center h-100 text-white justify-content-center py-6 py-lg-7">
            <h3 class="text-shadow text-uppercase mb-0">Education</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%#Carte mission%>
<hr>
  <div class="container py-5">
    <div class="row mb-5">
      <div class="col-md-8">
        <h2>Ces associations ont besoin de vous !</h2>
      </div>
    </div>
    <div class="row">
      <!-- venue item-->
      <div class="col-sm-6 col-lg-4 mb-5 hover-animate" data-marker-id="59c0c8e33b1527bfe2abaf92">
        <div class="card h-100 border-0 shadow">
          <div class="card-img-top overflow-hidden dark-overlay bg-cover" style="background-image: url(https://www.linfodurable.fr/sites/linfodurable/files/styles/landscape_w800/public/2018-06/NETTOYAGES%20DE%20PLAGE.jpg?h=a7a713b3&itok=D2cYNkDE); min-height: 200px;"><a class="tile-link" href="detail.html"></a>
            <div class="card-img-overlay-bottom z-index-20">
              <h4 class="text-white text-shadow">Collecte déchets sur la plage</h4>
            </div>
            <div class="card-img-overlay-top d-flex justify-content-between align-items-center">
              <div class="badge badge-transparent badge-pill px-3 py-2 mt-2">Environnement</div>
            </div>
          </div>
          <div class="card-body">
            <i class="fas fa-search-location" style="color:#808080"></i><small style="color:#808080"> Saint-Brieuc, Bretagne</small><br>
            <i class="fas fa-users" style="color:#808080"></i><small style="color:#808080"> Besoin de 50 volontaires</small><br>
            <i class="fas fa-calendar-day" style="color:#808080"></i><small style="color:#808080"> Date: 12 Décembre à 15:30</small><br></p>
            <a href="#" class="btn btn-primary mb-2">Voir la mission</a>
            <a href="#" class="btn btn-light mb-3">Greenpeace</a>
            <p class="mb-0"><i class="fas fa-tags" style="color:#808080"></i><small style="color:#808080"> tag1, tag2</small></p>
          </div>
        </div>
      </div>
      <!-- venue item-->
      <div class="col-sm-6 col-lg-4 mb-5 hover-animate" data-marker-id="59c0c8e33b1527bfe2abaf92">
        <div class="card h-100 border-0 shadow">
          <div class="card-img-top overflow-hidden dark-overlay bg-cover" style="background-image: url(https://imagesvc.meredithcorp.io/v3/mm/gif?url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F23%2F2019%2F04%2F05%2Fwhat-is-zero-waste-introduction-1.gif&q=85); min-height: 200px;"><a class="tile-link" href="detail.html"></a>
            <div class="card-img-overlay-bottom z-index-20">
              <h4 class="text-white text-shadow">Campagne sacs réutilisables</h4>
            </div>
            <div class="card-img-overlay-top d-flex justify-content-between align-items-center">
              <div class="badge badge-transparent badge-pill px-3 py-2 mt-2">Environnement</div>
            </div>
          </div>
          <div class="card-body">
            <i class="fas fa-search-location" style="color:#808080"></i><small style="color:#808080"> Paris 15e, Ile-de-France</small><br>
            <i class="fas fa-users" style="color:#808080"></i><small style="color:#808080"> Besoin de 15 volontaires</small><br>
            <i class="fas fa-calendar-day" style="color:#808080"></i><small style="color:#808080"> Date: 11 Décembre à 17:30</small><br></p>
            <a href="#" class="btn btn-primary mb-2">Voir la mission</a>
            <a href="#" class="btn btn-light mb-3">Zero waste france</a>
            <p class="mb-0"><i class="fas fa-tags" style="color:#808080"></i><small style="color:#808080"> tag1, tag2</small></p>
          </div>
        </div>
      </div>
      <!-- venue item-->
      <div class="col-sm-6 col-lg-4 mb-5 hover-animate" data-marker-id="59c0c8e33b1527bfe2abaf92">
        <div class="card h-100 border-0 shadow">
          <div class="card-img-top overflow-hidden dark-overlay bg-cover" style="background-image: url(https://static.lexpress.fr/medias_12034/w_2048,h_1146,c_crop,x_0,y_215/w_480,h_270,c_fill,g_north/v1552725179/des-jeunes-manifestent-a-marseille-pour-sauver-le-climat-le-15-mars-2019_6161818.jpg); min-height: 200px;"><a class="tile-link" href="detail.html"></a>
            <div class="card-img-overlay-bottom z-index-20">
              <h4 class="text-white text-shadow">Aide organisation marche pour le climat</h4>
            </div>
            <div class="card-img-overlay-top d-flex justify-content-between align-items-center">
              <div class="badge badge-transparent badge-pill px-3 py-2 mt-2">Environnement</div>
            </div>
          </div>
          <div class="card-body">
            <i class="fas fa-search-location" style="color:#808080"></i><small style="color:#808080"> Paris 11e, Ile-de-France</small><br>
            <i class="fas fa-users" style="color:#808080"></i><small style="color:#808080"> Besoin de 5 volontaires</small><br>
            <i class="fas fa-calendar-day" style="color:#808080"></i><small style="color:#808080"> Date: 19 Décembre à 14:30</small><br></p>
            <a href="#" class="btn btn-primary mb-2">Voir la mission</a>
            <a href="#" class="btn btn-light mb-3">Ensemble pour le climat</a>
            <p class="mb-0"><i class="fas fa-tags" style="color:#808080"></i><small style="color:#808080"> Organisation, tag2, tag3</small></p>
          </div>
        </div>
      </div>
      <!-- venue item-->
      <div class="col-sm-6 col-lg-4 mb-5 hover-animate" data-marker-id="59c0c8e33b1527bfe2abaf92">
        <div class="card h-100 border-0 shadow">
          <div class="card-img-top overflow-hidden dark-overlay bg-cover" style="background-image: url(https://www.spf75.org/sites/default/files/images/upload/2017-08/lss_bebe_etit.jpg); min-height: 200px;"><a class="tile-link" href="detail.html"></a>
            <div class="card-img-overlay-bottom z-index-20">
              <h4 class="text-white text-shadow">Distribution alimentaire</h4>
            </div>
            <div class="card-img-overlay-top d-flex justify-content-between align-items-center">
              <div class="badge badge-transparent badge-pill px-3 py-2 mt-2">Précarité</div>
            </div>
          </div>
          <div class="card-body">
            <i class="fas fa-search-location" style="color:#808080"></i><small style="color:#808080"> Lyon, Rhône-Alpes</small><br>
            <i class="fas fa-users" style="color:#808080"></i><small style="color:#808080"> Besoin de 8 volontaires</small><br>
            <i class="fas fa-calendar-day" style="color:#808080"></i><small style="color:#808080"> Date: 16 Décembre à 18:30</small><br></p>
            <a href="#" class="btn btn-primary mb-2">Voir la mission</a>
            <a href="#" class="btn btn-light mb-3">Secours populaire</a>
            <p class="mb-0"><i class="fas fa-tags" style="color:#808080"></i><small style="color:#808080"> Aide à la personne, aide alimentaire</small></p>
          </div>
        </div>
      </div>
      <!-- venue item-->
      <div class="col-sm-6 col-lg-4 mb-5 hover-animate" data-marker-id="59c0c8e33b1527bfe2abaf92">
        <div class="card h-100 border-0 shadow">
          <div class="card-img-top overflow-hidden dark-overlay bg-cover" style="background-image: url(https://images.unsplash.com/photo-1541802645635-11f2286a7482?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80); min-height: 200px;"><a class="tile-link" href="detail.html"></a>
            <div class="card-img-overlay-bottom z-index-20">
              <h4 class="text-white text-shadow">Maraudes</h4>
            </div>
            <div class="card-img-overlay-top d-flex justify-content-between align-items-center">
              <div class="badge badge-transparent badge-pill px-3 py-2 mt-2">Précarité</div>
            </div>
          </div>
          <div class="card-body">
            <i class="fas fa-search-location" style="color:#808080"></i><small style="color:#808080"> Paris 10e, Ile-de-France</small><br>
            <i class="fas fa-users" style="color:#808080"></i><small style="color:#808080"> Besoin de 20 volontaires</small><br>
            <i class="fas fa-calendar-day" style="color:#808080"></i><small style="color:#808080"> Date: 8 Décembre à 20:30</small><br></p>
            <a href="#" class="btn btn-primary mb-2">Voir la mission</a>
            <a href="#" class="btn btn-light mb-3">La rue tourne</a>
            <p class="mb-0"><i class="fas fa-tags" style="color:#808080"></i><small style="color:#808080"> Aide à la personne, écoute</small></p>
          </div>
        </div>
      </div>
      <!-- venue item-->
      <div class="col-sm-6 col-lg-4 mb-5 hover-animate" data-marker-id="59c0c8e33b1527bfe2abaf92">
        <div class="card h-100 border-0 shadow">
          <div class="card-img-top overflow-hidden dark-overlay bg-cover" style="background-image: url(https://cdn.paris.fr/paris/2020/09/18/huge-ca66a4b9883d78a9f5acc535e970f0a5.jpg); min-height: 200px;"><a class="tile-link" href="detail.html"></a>
            <div class="card-img-overlay-bottom z-index-20">
              <h4 class="text-white text-shadow">Soupe populaire</h4>
            </div>
            <div class="card-img-overlay-top d-flex justify-content-between align-items-center">
              <div class="badge badge-transparent badge-pill px-3 py-2 mt-2">Précarité</div>
            </div>
          </div>
          <div class="card-body">
            <i class="fas fa-search-location" style="color:#808080"></i><small style="color:#808080"> Marseille, Provence-Alpes-Côte d’Azur</small><br>
            <i class="fas fa-users" style="color:#808080"></i><small style="color:#808080"> Besoin de 10 volontaires</small><br>
            <i class="fas fa-calendar-day" style="color:#808080"></i><small style="color:#808080"> Date: 8 Décembre à 20:30</small><br></p>
            <a href="#" class="btn btn-primary mb-2">Voir la mission</a>
            <a href="#" class="btn btn-light mb-3">Restos du coeur</a>
            <p class="mb-0"><i class="fas fa-tags" style="color:#808080"></i><small style="color:#808080"> Aide à la personne, aide alimentaire</small></p>
          </div>
        </div>
      </div>
      <!-- venue item-->
      <div class="col-sm-6 col-lg-4 mb-5 hover-animate" data-marker-id="59c0c8e33b1527bfe2abaf92">
        <div class="card h-100 border-0 shadow">
          <div class="card-img-top overflow-hidden dark-overlay bg-cover" style="background-image: url(https://images.unsplash.com/photo-1512916206820-bd6d503c003e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80); min-height: 200px;"><a class="tile-link" href="detail.html"></a>
            <div class="card-img-overlay-bottom z-index-20">
              <h4 class="text-white text-shadow">Livraison chocolats de Noël</h4>
            </div>
            <div class="card-img-overlay-top d-flex justify-content-between align-items-center">
              <div class="badge badge-transparent badge-pill px-3 py-2 mt-2">Lien intergénérationnel</div>
            </div>
          </div>
          <div class="card-body">
            <i class="fas fa-search-location" style="color:#808080"></i><small style="color:#808080"> Paris 15e, Ile-de-France</small><br>
            <i class="fas fa-users" style="color:#808080"></i><small style="color:#808080"> Besoin de 15 volontaires</small><br>
            <i class="fas fa-calendar-day" style="color:#808080"></i><small style="color:#808080"> Date: 23 Décembre à 19:00</small><br></p>
            <a href="#" class="btn btn-primary mb-2">Voir la mission</a>
            <a href="#" class="btn btn-light mb-3">Petits frères des pauvres</a>
            <p class="mb-0"><i class="fas fa-tags" style="color:#808080"></i><small style="color:#808080"> Aide à la personne</small></p>
          </div>
        </div>
      </div>
      <!-- venue item-->
      <div class="col-sm-6 col-lg-4 mb-5 hover-animate" data-marker-id="59c0c8e33b1527bfe2abaf92">
        <div class="card h-100 border-0 shadow">
          <div class="card-img-top overflow-hidden dark-overlay bg-cover" style="background-image: url(https://images.unsplash.com/photo-1536489318149-dc9f8920c4fd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1189&q=80); min-height: 200px;"><a class="tile-link" href="detail.html"></a>
            <div class="card-img-overlay-bottom z-index-20">
              <h4 class="text-white text-shadow">Allô, comment ça va?</h4>
            </div>
            <div class="card-img-overlay-top d-flex justify-content-between align-items-center">
              <div class="badge badge-transparent badge-pill px-3 py-2 mt-2">Lien intergénérationnel</div>
            </div>
          </div>
          <div class="card-body">
            <i class="fas fa-search-location" style="color:#808080"></i><small style="color:#808080"> Marseille, Provence-Alpes-Côte d’Azur</small><br>
            <i class="fas fa-users" style="color:#808080"></i><small style="color:#808080"> Besoin de 10 volontaires</small><br>
            <i class="fas fa-calendar-day" style="color:#808080"></i><small style="color:#808080"> Date: 17 Décembre à 12:00</small><br></p>
            <a href="#" class="btn btn-primary mb-2">Voir la mission</a>
            <a href="#" class="btn btn-light mb-3">Secours populaire</a>
            <p class="mb-0"><i class="fas fa-tags" style="color:#808080"></i><small style="color:#808080"> Aide à la personne</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%#Kit UI%>
<hr>
  <a class="btn btn-primary btn-lg ml-5 my-3" href="/home/index">Composants Kit UI</a>
</section>

<%#Profile page organisation %>
<hr>
  <h2 class="container py-5" style="color:#d24d57">Page profil asso</h2>
    <section class="py-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 mr-lg-auto">
            <div class="card border-0 shadow mb-6 mb-lg-0">
              <div class="card-header bg-gray-100 py-4 border-0 text-center"><a class="d-inline-block" href="#"><img class="d-block avatar avatar-xxl p-2 mb-2" src="https://cdn.1min30.com/wp-content/uploads/2018/07/Greenpeace-logo-1.jpg" alt=""></a>
                <h5>Greenpeace</h5>
                <p class="text-muted text-sm mb-0">Greenpeace France</p>
                <p class="text-muted text-sm mb-0">13, rue d'Enghien</p>
                <p class="text-muted text-sm mb-0">75010 Paris </p>
              </div>
              <div class="card-body p-4">
                <h5 class="text-center mb-4">Par le passé</h5>
                <div class="media align-items-center mb-3">
                  <div class="icon-rounded icon-rounded-sm bg-primary-light mr-2">
                    <i class="fas fa-user-plus pl-1 pb-1" style="color:#d24d57"></i>
                  </div>
                  <div class="media-body">
                    <p class="mb-0">643 bénévoles</p>
                  </div>
                </div>
                <div class="media align-items-center mb-3">
                  <div class="icon-rounded icon-rounded-sm bg-primary-light mr-2">
                    <i class="far fa-calendar-check pb-1" style="color:#d24d57"></i>
                  </div>
                  <div class="media-body">
                    <p class="mb-0">17 missions</p>
                  </div>
                </div>
                <hr>
                  <h5 class="text-center mb-4 mt-4">Suis l'association</h5>
                  <a href="#" class="btn btn-muted mb-2"><i class="fas fa-rss"></i> S'abonner</a>
                  <a href="#" class="btn btn-light mb-2"><i class="fas fa-envelope-open-text"></i> Contacter</a>
              </div>
            </div>
          </div>
          <div class="col-lg-9 pl-lg-5">
            <h1 class="hero-heading mb-0">Greenpeace</h1>
            <div class="text-block">
              <p> <span class="badge badge-secondary-light">Actif depuis 2020</span></p>
              <p class="text-muted">Description de l'assocation: Samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame.  </p>
              <p class="text-muted">He must have tried it a hundred times, shut his eyes so that he wouldn't have to look at the floundering legs, and only stopped when he began to feel a mild, dull pain there that he had never felt before.  </p>
            </div>
            <div class="text-block">
              <h4 class="mb-5">Les missions proposées par Greenpeace</h4>
              <div class="row">
                <!-- place item-->
                <div class="col-sm-6 col-lg-4 mb-30px hover-animate" data-marker-id="59c0c8e33b1527bfe2abaf92">
                  <div class="card h-100 border-0 shadow">
                    <div class="card-img-top overflow-hidden gradient-overlay"> <img class="img-fluid" src="https://www.linfodurable.fr/sites/linfodurable/files/styles/landscape_w800/public/2018-06/NETTOYAGES%20DE%20PLAGE.jpg?h=a7a713b3&itok=D2cYNkDE" alt="Modern, Well-Appointed Room"/><a class="tile-link" href="detail-rooms.html"></a>
                      <div class="card-img-overlay-top text-right">
                      </div>
                    </div>
                    <div class="card-body d-flex align-items-center">
                      <div class="w-100">
                        <h6 class="card-title"><a class="text-decoration-none text-dark" href="detail-rooms.html">Collecte déchets sur la plage</a></h6>
                        <i class="fas fa-search-location" style="color:#808080"></i><small style="color:#808080"> Saint-Brieuc, Bretagne</small><br>
                        <i class="fas fa-users" style="color:#808080"></i><small style="color:#808080"> Besoin de 50 volontaires</small><br>
                        <i class="fas fa-calendar-day" style="color:#808080"></i><small style="color:#808080"> Date: 12 Décembre à 15:30</small><br></p>
                        <a href="#" class="btn btn-primary mb-2">Voir la mission</a>
                        <p class="mb-0"><i class="fas fa-tags" style="color:#808080"></i><small style="color:#808080"> Tag1, tag2</small></p>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- place item-->
                <div class="col-sm-6 col-lg-4 mb-30px hover-animate" data-marker-id="59c0c8e33b1527bfe2abaf92">
                  <div class="card h-100 border-0 shadow">
                    <div class="card-img-top overflow-hidden gradient-overlay"> <img class="img-fluid" src="https://www.linfodurable.fr/sites/linfodurable/files/styles/landscape_w800/public/2018-06/NETTOYAGES%20DE%20PLAGE.jpg?h=a7a713b3&itok=D2cYNkDE" alt="Modern, Well-Appointed Room"/><a class="tile-link" href="detail-rooms.html"></a>
                      <div class="card-img-overlay-top text-right">
                      </div>
                    </div>
                    <div class="card-body d-flex align-items-center">
                      <div class="w-100">
                        <h6 class="card-title"><a class="text-decoration-none text-dark" href="detail-rooms.html">Collecte déchets sur la plage</a></h6>
                        <i class="fas fa-search-location" style="color:#808080"></i><small style="color:#808080"> Pornic, Pays-de-la-Loire</small><br>
                        <i class="fas fa-users" style="color:#808080"></i><small style="color:#808080"> Besoin de 50 volontaires</small><br>
                        <i class="fas fa-calendar-day" style="color:#808080"></i><small style="color:#808080"> Date: 12 Décembre à 15:30</small><br></p>
                        <a href="#" class="btn btn-primary mb-2">Voir la mission</a>
                        <p class="mb-0"><i class="fas fa-tags" style="color:#808080"></i><small style="color:#808080"> Tag1, tag2</small></p>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- place item-->
                <div class="col-sm-6 col-lg-4 mb-30px hover-animate" data-marker-id="59c0c8e33b1527bfe2abaf92">
                  <div class="card h-100 border-0 shadow">
                    <div class="card-img-top overflow-hidden gradient-overlay"> <img class="img-fluid" src="https://www.linfodurable.fr/sites/linfodurable/files/styles/landscape_w800/public/2018-06/NETTOYAGES%20DE%20PLAGE.jpg?h=a7a713b3&itok=D2cYNkDE" alt="Modern, Well-Appointed Room"/><a class="tile-link" href="detail-rooms.html"></a>
                      <div class="card-img-overlay-top text-right">
                      </div>
                    </div>
                    <div class="card-body d-flex align-items-center">
                      <div class="w-100">
                        <h6 class="card-title"><a class="text-decoration-none text-dark" href="detail-rooms.html">Collecte déchets sur la plage</a></h6>
                        <i class="fas fa-search-location" style="color:#808080"></i><small style="color:#808080"> Nice, Alpes-Maritime</small><br>
                        <i class="fas fa-users" style="color:#808080"></i><small style="color:#808080"> Besoin de 50 volontaires</small><br>
                        <i class="fas fa-calendar-day" style="color:#808080"></i><small style="color:#808080"> Date: 12 Décembre à 15:30</small><br></p>
                        <a href="#" class="btn btn-primary mb-2">Voir la mission</a>
                        <p class="mb-0"><i class="fas fa-tags" style="color:#808080"></i><small style="color:#808080"> Tag1, tag2</small></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <%#Profile page user %>
    <hr>
      <h2 class="container py-5" style="color:#d24d57">Page profil user</h2>
    <section class="py-5">
      <div class="container">
        <h1 class="hero-heading mb-0">Informations personnelles</h1>
        <p class="text-muted mb-5">Mettez à jour vos informations</p>
        <div class="row">
          <div class="col-lg-7">
            <div class="text-block">
              <div class="row mb-3">
                <div class="col-sm-9">
                  <h5>Détails</h5>
                </div>
                <div class="col-sm-3 text-right">
                  <button class="btn btn-link pl-0 text-primary collapsed" type="button" data-toggle="collapse" data-target="#personalDetails" aria-expanded="false" aria-controls="personalDetails">Editer</button>
                </div>
              </div>
              <p class="text-sm text-muted"><i class="fa fa-id-card fa-fw mr-2"></i>John Doe<br><i class="fa fa-birthday-cake fa-fw mr-2"></i>06/22/1980<br><i class="fa fa-envelope-open fa-fw mr-2"></i>john.doe@yopmail.com  <span class="mx-2"> | </span>  <i class="fa fa-phone fa-fw mr-2"></i>+336830472947</p>
              <div class="collapse" id="personalDetails">
                <form action="#">
                  <div class="row pt-4">
                    <div class="form-group col-md-6">
                      <label class="form-label" for="name">Nom</label>
                      <input class="form-control" type="text" name="name" id="name" value="John Doe">
                    </div>
                    <div class="form-group col-md-6">
                      <label class="form-label" for="date">Date de naissance</label>
                      <input class="form-control" type="text" name="date" id="date" value="06/22/1980">
                    </div>
                    <div class="form-group col-md-6">
                      <label class="form-label" for="email">Adresse e-mail</label>
                      <input class="form-control" type="email" name="email" id="email" value="john.doe@directory.com">
                    </div>
                    <div class="form-group col-md-6">
                      <label class="form-label" for="phone">Numéro de téléphone</label>
                      <input class="form-control" type="text" name="phone" id="phone" value="+42055544466">
                    </div>
                  </div>
                  <button class="btn btn-outline-primary mb-4" type="submit">Enregistrer les modifications</button>
                </form>
              </div>
            </div>
            <div class="text-block">
              <div class="row mb-3">
                <div class="col-sm-9">
                  <h5>Adresse</h5>
                </div>
                <div class="col-sm-3 text-right">
                  <button class="btn btn-link pl-0 text-primary collapsed" type="button" data-toggle="collapse" data-target="#address" aria-expanded="false" aria-controls="address">Editer</button>
                </div>
              </div>
              <div class="media text-sm text-muted"> <i class="fa fa-address-book fa-fw mr-2"></i>
                <div class="media-body mt-n1">12 rue du Père Noël, Apt #7<br>75015 Paris</div>
              </div>
              <div class="collapse" id="address">
                <form action="#">
                  <div class="row pt-4">
                    <div class="form-group col-md-6">
                      <label class="form-label" for="street">Adresse</label>
                      <input class="form-control" type="text" name="street" id="street" value="123 Main St.">
                    </div>
                    <div class="form-group col-md-6">
                      <label class="form-label" for="apt">Apt. (optionnel)</label>
                      <input class="form-control" type="text" name="apt" id="apt" value="Apt #7">
                    </div>
                    <div class="form-group col-md-6">
                      <label class="form-label" for="city">Ville</label>
                      <input class="form-control" type="text" name="city" id="city" value="San Francisco">
                    </div>
                    <div class="form-group col-md-6">
                      <label class="form-label" for="zip">Code Postal</label>
                      <input class="form-control" type="text" name="zip" id="zip" value="902 10">
                    </div>
                  </div>
                  <button class="btn btn-outline-primary">Enregistrer la nouvelle adresse</button>
                </form>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 ml-lg-auto">
            <div class="bg-cover h-100 mr-n3" style="background-image: url(https://images.unsplash.com/photo-1585776245991-cf89dd7fc73a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);"></div>
          </div>
        </div>
      </div>
    </section>
