<p>Bonjour à toi admin Clap for Life, un utilisateur nous écrit :</p><br>

<p>Sender : <%= @contact.first_name %> <%= @contact.last_name %></p>
<p>====================</p>
<p><%= @contact.email_content %></p>
<p>====================</p>
