<div class="email-text">

  <p>Bonjour <%= @email %>,<br><br>

  Bienvenue sur <strong style="color:#d24d57; font-style:italic; font-size: 1.2rem">Clap for Life</strong> !</p>
  <p>Nous sommes heureux de vous compter parmi nos premiers utilisateurs. Voici quelques consignes de démarrage.</p>

  <p>1. Tout d'abord, vous pouvez confirmer votre compte via le lien ci-dessous:</p>

  <p><%= link_to 'Confirmer mon compte', confirmation_url(@resource, confirmation_token: @token) %></p>

  <p>2. Mettez à jour vos informations personnelles après votre première authentification, afin de pouvoir vous inscrire à des missions ou créer votre profil association.</p>

  <p>3. Inscrivez-vous à des missions près de chez vous aux dates qui vous conviennent.</p>
  <p>4. Si vous êtes gérant d'une association, créez votre profil d'association à l'aide de votre numéro SIREN, puis proposez des missions à vos futurs bénévoles !</p>

  <p>L'équipe <strong style="color:#d24d57; font-style:italic; font-size: 1.2rem">Clap for Life</strong></p>
</div>
