<p>Bonjour <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Nous vous confirmons la modification de votre adresse e-mail à <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Nous vous confirmons la modification de votre adresse e-mail à <%= @resource.email %>.</p>
<% end %>
