<p>Bonjour <%= @email %>!</p>
<% if @resource.try(:unconfirmed_email?) %>
  <p>Nous vous confirmons la modification de votre adresse e-mail à <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Nous vous confirmons la modification de votre adresse e-mail à <%= @resource.email %>.</p>
<% end %>
<p>L'équipe <strong style="color:#d24d57; font-style:italic; font-size: 1.2rem">Clap for Life</strong></p>
