<p>Bonjour <%= @resource.email %>!</p>

<p>Ce mail est une confirmation de changement de votre mot de passe.</p>
  <p>L'équipe <strong style="color:#d24d57; font-style:italic; font-size: 1.2rem">Clap for Life</strong></p>
