<p>Bonjour <%= @resource.email %>!</p>
<p>Quelqu'un a demandé un lien pour changer votre mot de passe. Vous pouvez le faire via le lien ci-dessous.</p>
<p><%= link_to 'Changer mon mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>
<p>Si vous n'avez pas demandé ce changement, ignorez ce message.</p>
<p>Votre mot de passe ne sera pas changé tant vous n'aurez pas accédé au lien ci-dessus pour en créer un nouveau.</p>
<p>L'équipe <strong style="color:#d24d57; font-style:italic; font-size: 1.2rem">Clap for Life</strong></p>
