<head>
  <link rel="preconnect" href="https://fonts.gstatic.com">

</head>
<!-- Navbar-->
<nav class="navbar navbar-expand-lg fixed-top shadow navbar-light bg-white">
  <div class="container-fluid">
    <div class="d-flex align-items-center"><a class="navbar-brand py-1"></a>
        <a class="navbar-brand" style="font-family: 'Sansita Swashed', cursive; font-size: 1.5rem" href="/">Clap for Life</a>
    </div>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
    <!-- Navbar Collapse -->
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link" href="/">Accueil</a>
        </li>
        <li class="nav-item"><a class="nav-link" href="../contact.html">Contact</a>
        </li>
        <li class="nav-item dropdown"><a class="nav-link dropdown-toggle active" id="docsDropdownMenuLink" href="index.html" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             Docs</a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="docsDropdownMenuLink">
            <h6 class="dropdown-header font-weight-normal">Documentation</h6><a class="dropdown-item" href="../docs/docs-introduction.html">Introduction </a><a class="dropdown-item" href="../docs/docs-directory-structure.html">Directory structure </a><a class="dropdown-item" href="../docs/docs-gulp.html">Gulp </a><a class="dropdown-item" href="../docs/docs-customizing-css.html">Customizing CSS </a><a class="dropdown-item" href="../docs/docs-credits.html">Credits </a><a class="dropdown-item" href="../docs/docs-changelog.html">Changelog </a>
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header font-weight-normal">Components</h6><a class="dropdown-item" href="../docs/components-bootstrap.html">Bootstrap </a><a class="dropdown-item" href="../docs/components-directory.html">Theme </a>
          </div>
        </li>
        <li class="nav-item"><a class="nav-link" href="../login.html">Sign in</a></li>
        <li class="nav-item"><a class="nav-link" href="../signup.html">Sign up</a></li>
        <li class="nav-item mt-3 mt-lg-0 ml-lg-3 d-lg-none d-xl-inline-block"><a class="btn btn-primary" href="../user-add-0.html">Add a listing</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- /Navbar -->
